{% extends 'base_generic.html' %}

{% block content %}
  <h2>Subscribe to {{ category.name }}</h2>

  {% if not category.subscribers.filter(id=request.user.id).exists %}
    <form method="post" action="{% url 'subscribe_to_category' category.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
  {% else %}
    <p>Ты уже подписан на эту категорию</p>
  {% endif %}

  <hr>

  <h3>Subscribers:</h3>
  <ul>
    {% for user in category.subscribers.all %}
      <li>{{ user.username }}</li>
    {% endfor %}
  </ul>

{% endblock %}